.toolTip {
  position: relative;
  display: inline-block;
  padding: 0.2rem;
  cursor: pointer;
  color: white;
  background-color: rgb(19, 99, 121);
  margin: 30px;
}

.toolTip:hover {
  background-color: rgb(8, 63, 78);;
}

.toolTip:active {
  color: red;
  transform: translateY(4px);
}

.radioButtons {
  display: inline-flex;
  margin: 1rem 1rem 1rem 11rem;
}

.statusSelect {
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.7em .5em .8em;
	box-sizing: border-box;
	margin: 1rem;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.statusLabel {
  float: left;
  margin: 1rem;
  font-size: 1.5rem;
}


.requestInput {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: 150px !important;
}

.requestForm{
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 5%;
}

.requestTitle{
  font-size: 1rem;
  padding: 1rem;
  line-height: 1;
  display: block;
  font-weight: 10;
  letter-spacing: 0.05rem;
  margin: auto;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 0.5rem
}

.requestsTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.requestsTable td, .requestsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.requestsTable tr:nth-child(even){background-color: #f2f2f2;}

.requestsTable tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.requestsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(70, 153, 179);
  color: white;
}

.requestsView {
  margin: 2%;
  text-align: center;
  overflow: auto;
}